*{
    box-sizing: border-box
}
body{
    background-image: url(justin-kauffman-449060-unsplash.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    
}
div{
    border: 1px solid red;
}
#car{
    color: white;
    width: 94%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: 3.5%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
} 
.logo h1{
   margin: 10px; 
   font-size: 22px;

    
}  
.list ul li{
    display: inline-block;
    margin-left: 30px;
    font-size: 10.3px
} 
.list{
    margin: -10px;
    flex-grow: 1;
}
.logo{
    margin: -4px
}
.icon{
    background-image: url(icon.svg);
    width: 50px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-color: #ffd100
    
   
}